doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
		//script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		//script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		
		script(src='/javascripts/barcodeScanner.js')
		//script(src='/javascripts/barcodeScanner2.js')

	body
	block content
		h2 Barcode Scanner
		h1#bCode