append head
    //script(src='/javascripts/wiremonkey.js')
    link(rel='stylesheet', href='/stylesheets/messageFlow.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


block content
    h2 just test
    br
    .container#container1
        br
        br
        br
        br
        h1#message1.text-left
            //i.fa.fa-spinner.fa-spin(style='font-size:48px;color:blue')
        br
        br

        h1#message2.text-left
            i.fa.fa-spinner.fa-spin(style='font-size:48px;color:blue')

    .container#container2


script(src='/javascripts/messageFlow.js')
