append head

    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='/bower_components/fullcalendar/dist/fullcalendar.js')
    script(src='/bower_components/fullcalendar/dist/locale/en-gb.js')
    script(src='/javascripts/calendar.js')

    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/fullcalendar/dist/fullcalendar.css')

block content
    style.
        #calendar {

            margin: 50px;
        }


    .container
        input#HideUserId(type='hidden', value=user.id)
        //h1#myHeader Hello World

        #calendar

