append head
    //script(type="text/javascript", src="js/vendor/jquery-1.9.1.js")
    //script(src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.js')
    //script(type="text/javascript", src="js/vendor/underscore-min.js")
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='/bower_components/fullcalendar/dist/fullcalendar.js')
    script(src='/bower_components/fullcalendar/dist/locale/en-gb.js')


    script(src='/javascripts/calendar.js')


    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/fullcalendar/dist/fullcalendar.css')


block content
    .container
        #calendar

