append head
	script(src='/javascripts/calendar.js')
.container
	h2 Button Styles
	button.btn(type='button', href='#scanIn', data-toggle='tab') Basic
	//a(href='#scanIn', data-toggle='tab') Profile Link From Outside