append head
	script(src='/javascripts/wizardExample.js')
	link(rel='stylesheet', href='/bower_components/smartwizard/dist/css/smart_wizard.css')
	link(rel='stylesheet', href='/bower_components/smartwizard/dist/css/smart_wizard_theme_circles.css')
	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src='/bower_components/smartwizard/dist/js/jquery.smartWizard.min.js')

.container
	form.form-inline
		br
		//.form-group
			label Choose Theme:
			select#theme_selector.form-control
				option(value='default') default
				option(value='circles') circles
				//option(value='arrows') arrows
				//option(value='dots') dots
		label External Buttons:
		.btn-group.navbar-btn(role='group')
			button#prev-btn.btn.btn-default(type='button') Go Previous
			button#next-btn.btn.btn-default(type='button') Go Next
			button#reset-btn.btn.btn-danger(type='button') Reset Wizard
	//events box
	//#message-box.alert.alert-info(role='alert')
		strong Event Log:
	// SmartWizard html
	br
	#smartwizard
		ul
			li
				a(href='#step-1')
					| Step 1
					br
					//small This is tab's description
			li
				a(href='#step-2')
					| Step 2
					br
					//small 
			li
				a(href='#step-3')
					| Step 3
					br
					//small This is tab's description
			li
				a(href='#step-4')
					| Step 4
					br
					//small This is tab's description
			li
				a(href='#step-5')
					| Step 5
					br
					//small This is tab's description
			li
				a(href='#step-6', style='display: none;')
					//| Step 5
					//br
					//small This is tab's description
		div
			#step-1
				h2 Step 1 Content
				|  step 1
			#step-2
				h2 Step 2 Content
				div Hello This is a div
			#step-3
				| Step 3
				| Lorem Ipsum is simply dummy text of the

			#step-4
				h2 Step 4 Content
				.panel.panel-default
					.panel-heading My Details
					table.table
						tbody
							tr
								th Name:
								td Tim Smith
							tr
								th Email:
								td example@example.com
			#step-5
				h2 Step 5 Content
			#step-6
				h2 Step 6 Content
