append head

    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='/bower_components/fullcalendar/dist/fullcalendar.js')
    script(src='/bower_components/fullcalendar/dist/locale/en-gb.js')
    script(src='/javascripts/calendar.js')

    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/fullcalendar/dist/fullcalendar.css')

block content
    style.
        #calendar {
            max-width: 900px;
            margin: 50px;
        }

        #externalTitle {
            padding: 4px;
        }

    .container
        input#HideUserId(type='hidden', value=user.id)
        p  Products running out
        #externalTitle
        #calendar

