append head
    script(src='/javascripts/essentials.js')
    script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(src='/bower_components/datatables.net-responsive/js/dataTables.responsive.js')
    script(src='/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js')
    script(src='/bower_components/bootbox/bootbox.min.js')


    link(rel='stylesheet', href='/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.css')
    link(rel='stylesheet', href='/bower_components/datatables.net-responsive-dt/css/responsive.dataTables.min.css')
    link(rel='stylesheet', href='/stylesheets/specialButton.css')

block content
    .container
        br
        input#HideUserId(type='hidden', value=user.id)
        ul.list-inline
            li.active
                a#inStockLabel(data-toggle='tab', href='#EssentialsInStock', style={'font-size': '20px' , 'text-decoration': 'underline'}) In Stock
            li
            li
            li
            li
                a#outStockLabel(data-toggle='tab', href='#EssentialsOutStock', style={'font-size': '20px', 'color': 'Grey' }) Out of Stock

        .tab-content
            #EssentialsInStock.tab-pane.fade.in.active
                .table-responsive
                    //table#products_data.table-striped.table-bordered.nowrap(cellspacing='0', width='100%')
                    //table#products_data.table.table-striped.table-bordered
                    //table#products_data.table-striped.table-bordered.nowrap(cellspacing='0', width='100%')
                    //table#products_data.table.table-striped.table-bordered(style={'text-align': 'center'})
                    table#products_data.table.table-hover(style={'text-align': 'center'})

                        thead
                            tr(style={ 'font-size': '22px', 'font-weight': 'bold', 'text-align': 'center'})
                                td Description
                                td Current stock
                                td Prediction / Run out
                                td Details
                        td '.$row["productDescription"].'
                        td '.$row["productStock"].'
                        td '.$row["productPrediction"].'
                        td icon
                        |
                        |
                        tr
                            td test
                            td Current stock
                            td Not available
                            td icon



            #EssentialsOutStock.tab-pane.fade
                .table-responsive
                    table#products_dataOut.table.table-hover(style={'text-align': 'center'})
                        thead
                            tr(style={'font-size': '22px', 'font-weight': 'bold', 'text-align': 'center'})
                                td Description
                                td Last added
                                td Used up
                                td Details


        // Modal
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header(style={'background-color': '#b8b8b8'})
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title
                    .modal-body
                        h4#descriptionModal
                        |
                        |
                        |
                        br
                        h4#eanCode
                        br
                        h4#brand
                        br
                        h4#quantity
                        br
                        h5#metadata
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br

                    .modal-footer
                        //button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button#btnEdit.btn.btn-default(type='button') Edit
                        button#btnStop.btn.btn-default(type='button') Stop Track
                        button#btnBin.btn.btn-default(type='button') Bin

        #ModalOut.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header(style={'background-color': '#b8b8b8'})
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#ModalOutLabel.modal-title
                    .modal-body
                        h3#descriptionModalOut
                        |
                        |
                        |
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br


        #myModalRedirect.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel1', data-keyboard='false', data-backdrop='static')
            .modal-dialog.modal-vertical-centered
                .modal-content
                    .modal-header
                        //button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myModalLabel1.modal-title What do you want to scan?
                    .modal-body
                        center
                            h5 Please select an option.
                            br
                            br
                            .row
                                button#btnScanIn.btn.btn-primary(type='button', data-dismiss='modal') SCAN IN
                                | !{' '}
                                | or
                                | !{' '}
                                button#btnScanOut.btn.btn-primary(type='button', data-dismiss='modal') SCAN OUT
                    .modal-footer



            

    