append head
    script(src='/javascripts/essentials.js')
    script(src='/javascripts/details.js')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js')
    script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')


    script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(src='/bower_components/datatables.net-responsive/js/dataTables.responsive.js')
    script(src='/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js')
    script(src='/bower_components/bootbox/bootbox.min.js')
    //*script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js')


    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css')

    link(rel='stylesheet', href='/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.css')
    link(rel='stylesheet', href='/bower_components/datatables.net-responsive-dt/css/responsive.dataTables.min.css')
    link(rel='stylesheet', href='/stylesheets/specialButton.css')
    link(rel='stylesheet', href='/stylesheets/centerModal.css')

    //*link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css')
    //*link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css')







block content

    .container

        br
        input#HideUserId(type='hidden', value=user.id)
        ul.list-inline
            li.active
                a#inStockLabel(data-toggle='tab', href='#EssentialsInStock', style={'font-size': '20px' , 'text-decoration': 'underline'}) In Stock
            li
            li
            li
            li
                a#outStockLabel(data-toggle='tab', href='#EssentialsOutStock', style={'font-size': '20px', 'color': 'Grey' }) Out of Stock

        #alertScanOut.alert.alert-success(style="display:none;")
            strong Success!
            |  Product removed

        .tab-content
            #EssentialsInStock.tab-pane.fade.in.active
                .table-responsive
                    table#products_data.table.table-hover(style={'text-align': 'center'})

                        thead
                            tr(style={ 'font-size': '22px', 'font-weight': 'bold', 'text-align': 'center'})
                                td Description
                                td Current stock
                                td Prediction / Run out
                                td Details
                        td '.$row["productDescription"].'
                        td '.$row["productStock"].'
                        td '.$row["productPrediction"].'
                        td icon
                        |
                        |
                        tr
                            td test
                            td Current stock
                            td Not available
                            td icon



            #EssentialsOutStock.tab-pane.fade
                .table-responsive
                    table#products_dataOut.table.table-hover(style={'text-align': 'center'})
                        thead
                            tr(style={'font-size': '22px', 'font-weight': 'bold', 'text-align': 'center'})
                                td Description
                                td Last added
                                td Used up
                                td Details



        #myModal.modal.fade
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header(style={'background-color': '#b8b8b8'})
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title
                            | Product Details
                    .modal-body
                        h4#descriptionModal
                        |
                        br
                        h4#eanCode
                        br
                        h4#brand
                        br
                        h4#quantity
                        br
                        h4#prediction
                        h4#average
                        h4.text-center History
                        .table-responsive
                            table#in_out_events_table.table.table-hover.table-bordered.nowrap(style={'text-align': 'center', 'color': 'grey'})
                                thead
                                    tr(style={'font-size': '14px', 'font-weight': 'bold', 'text-align': 'center'})
                                        td Added
                                        td Used Up
                                tbody
                                    tr(style="color: #ff6600")
                                        td '.$row["timestap"].'
                                        td  ''
                    p
                    p
                    p
                    p
                    p

                    .modal-footer
                        button#btnStop.btn.btn-danger.pull-left.enabled(type='button') Permanently Removed
                        button#btnUsedManual.btn.btn-primary(data-backdrop="static", data-keyboard="false", data-toggle="modal") Used up
                        button#btnWastedManual.btn.btn-primary(type='button') Wasted


        #ModalOut.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header(style={'background-color': '#b8b8b8'})
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#ModalOutLabel.modal-title
                    .modal-body
                        h3#descriptionModalOut
                        |
                        |
                        |
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br


        #myModalRedirect.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel1', data-keyboard='false', data-backdrop='static')
            .modal-dialog.modal-vertical-centered
                .modal-content
                    .modal-header
                        h4#myModalLabel1.modal-title Please select an option
                    .modal-body
                        center
                            br
                            .row
                                button#btnScanIn.btn.btn-primary(type='button', data-dismiss='modal') SCAN IN
                                | !{' '}
                                | or
                                | !{' '}
                                button#btnScanOut.btn.btn-primary(type='button', data-dismiss='modal') SCAN OUT
                    .modal-footer



        #myModalDate.modal.fade.Absolute-Center.is-Responsive
            .modal-content
                .modal-header
                    button#btncloseX.close(type="button", data-dismiss="modal", aria-hidden="true") ×
                    h4.modal-title Used Up Date
                .container
                .modal-body
                    //h6#lastused Last scanned-out: mm/dd/yyyy
                    br
                    p#demo
                    form#scanoutFormManual(method='POST', action='/scanOutProductManual')
                        //.form-group
                        //.containerDate
                        .form-group
                            #datetimepicker6.input-group.date
                                input#dateIn.form-control(type="text",name='dateScanOutManual')
                                input#codeProductOutManual.form-control(name='codeProductOut', type='hidden',required='')
                                input#wastedProductOutManual.form-control(name='wastedProductOut', type='hidden',required='')
                                input#inventoryIdManual.form-control(name='inventoryId', type='hidden',required='')
                                input#userIdManual.form-control(name='userId', type='hidden',required='')
                                input#productIdManual.form-control(name='productId', type='hidden',required='')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar

                    br
                    br
                    br
                .modal-footer
                    //button#btncloseSO(onclick='myFunction') OK
                    //button#btncloseSO.btn.btn-primary.disabled(type="button", data-dismiss='modal') Save
                    button#btncloseSO.btn.btn-primary.disabled(type="button") Save







        #modalWarningDelete.modal.fade(role='dialog')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Warning
                    .modal-body
                        form#deleteItemForm(method='POST', action='/deleteItem')
                            p.alert-danger This item will be permanently removed
                            .form-group
                                input#inventoryIdDelete.form-control(name='inventoryId', type='hidden',required='')
                                input#userIdDelete.form-control(name='userId', type='hidden',required='')

                    .modal-footer
                        button#removeItemButton.btn.btn-danger(type='button', data-dismiss='modal') Remove
