
br
br
h4 Test for unknown data of products
button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-backdrop='static', data-target='#addItemModal') Next

.container
    include item_data


