append head
    script(src='/javascripts/inbox.js')


block content
    //h2 Not available
    .container
        br
        input#HideUserId(type='hidden', value=user.id)

        //h2 INBOX MESSAGE
        //h5 Let us know more information about predictions of your essentials
        .col-lg-12.col-md-12.col-sm-12
            .panel.panel-default
                .panel-heading
                    h3.text-center INBOX MESSAGE
                    p(style='color: grey').text-center Let us know more information about predictions of your essentials

            .col-lg-5.pull-left
                .text-left
                    .row.spacer
                        br
                        .panel.panel-default
                            .panel-heading
                                | Product scanned out before prediction #{''}
                                span.badge 0
                            //.panel-body
                        table#beforeOut.table.table-hover(cellspacing="0", width="100%")
                            //thead
                                //tr(style={'font-size': '22px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Description
                            //thead
                                tr
                                    //th Product 1


            .col-lg-5.pull-right
                .text-left
                    .row.spacer
                        br
                        .panel.panel-default
                            .panel-heading Products scanned out after prediction #{''}
                                span.badge 0
