append head

    script(src='https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js')
    script(src='/javascripts/inbox.js')
    link(rel='stylesheet' href='/stylesheets/inbox.css')


block content
    //h2 Not available
    .container
        br
        input#HideUserId(type='hidden', value=user.id)

        //h2 INBOX MESSAGE
        //h5 Let us know more information about predictions of your essentials
        .col-lg-12.col-md-12.col-sm-12
            .panel.panel-default
                .panel-heading
                    h3.text-center INBOX MESSAGE
                    p(style='color: grey').text-center Let us know more information about predictions of your essentials

            .col-lg-6.col-md-6.col-sm-6
                .text-left
                    .row.spacer
                        .panel.panel-default
                            .panel-heading
                                | Product scanned out before prediction #{''}
                                span.badge 0
                            table#beforeOut.table.table-hover(width='100%', cellspacing='0')
                                thead(style='display:none;')
                                    tr
                                        th
                                        th
            .col-lg-6.col-md-6.col-sm-6
                .text-left
                    .row.spacer
                        .panel.panel-default
                            .panel-heading
                                | Product scanned out after prediction #{''}
                                span.badge 0
                            table#afterOut.table.table-hover(width='100%', cellspacing='0')
                                thead(style='display:none;')
                                    tr
                                        th
                                        th
        //#otherModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel.modal-title Other
                    .modal-body(style='text-align:center;')
                        p Please, let us know more information
                    .modal-footer
                        button.btn.btn-success(type='button', data-dismiss='modal') Save
        #feedbackModal.modal.fade(role='dialog')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Thanks for your feedback
                    .modal-body
                        p#feedbackBody

                    .modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') Save


        #otherModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Thanks for your feedback
                        //h5#exampleModalLabel Please, let us know more information
                        //button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        p Please, let us know more information
                        form
                            .form-group
                                //label.col-form-label(for='message-text') Message:
                                textarea#message-text.form-control
                    .modal-footer
                        //button.btn.btn-close(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save

