append head
    script(src='/javascripts/inbox.js')


block content

    //h2 Not available
    .container
        br
        //h2 INBOX MESSAGE
        //h5 Let us know more information about predictions of your essentials
        .col-lg-12.col-md-12.col-sm-12
            .panel.panel-default
                .panel-heading
                    h3.text-center INBOX MESSAGE
                    p(style='color: grey').text-center Let us know more information about predictions of your essentials

            .col-lg-5.pull-left
                .text-left
                    .row.spacer
                        br
                        .panel.panel-default
                            .panel-heading
                                | Product scanned out before prediction #{''}
                                span.badge 0
                            .panel-body
                                table#beforeOut.display(cellspacing="0", width="100%")
                                    thead
                                        tr
                                            th Product 1


            .col-lg-5.pull-right
                .text-left
                    .row.spacer
                        br
                        .panel.panel-default
                            .panel-heading Products scanned out after prediction #{''}
                                span.badge 0
                            //.panel-body Panel Content
                            ul.list-group
                                li.list-group-item one
                                li.list-group-item two
                                li.list-group-item three
                                li.list-group-item four
                                li.list-group-item five