

block content

    //h2 Not available
    .container
        br
        //h2 INBOX MESSAGE
        //h5 Let us know more information about predictions of your essentials
        .panel.panel-default
            .panel-heading
                h3.text-center INBOX MESSAGE
                h5(style='color: grey').text-center Let us know more information about predictions of your essentials

            //.panel-body Panel Content
        br
        .row
            .col-lg-11.col-md-11.col-sm-11
                .text-center
                    .row.spacer
                        br
                        .panel.panel-default
                            .panel-heading Panel Heading
                            .panel-body Panel Content