extends layout

block content
    if success
        section.success
            //h2 Successful Validation!
            //include index

            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        //h1 Home Essentials
                        a.navbar-brand(href='#')
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#')
                                span.glyphicon.glyphicon-user
                                | #{username}
                        li
                            a(href='/users/logout')
                                span.glyphicon.glyphicon-log-in
                                |  Logout
            .container
                //h1 Home Essentials
                p
                p
                    //| To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.
                ul.nav.nav-tabs(style={'font-size': '18px'})
                    li
                        a(data-toggle='tab', href='#scanIn')
                            | SCAN IN
                    li
                        a(data-toggle='tab', href='#scanOut') SCAN OUT
                    li.active
                        a(data-toggle='tab', href='#inStock') ESSENTIALS
                    li
                        a(data-toggle='tab', href='#calendar') CALENDAR
                    li
                        a(data-toggle='tab', href='#inbox')
                            | INBOX
                            //span.badge 5

                .tab-content
                    #scanIn.tab-pane.fade
                        include scanin

                    #scanOut.tab-pane.fade
                        include scanout

                    #inStock.tab-pane.fade.in.active
                        include essentials_instock

                    #calendar.tab-pane.fade
                        include calendar

                    #inbox.tab-pane.fade
                        include inbox

    else
        section

