extends layout


block content
 body
  .container
    h2 Table
    p
    | The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:
    .table-responsive
     table.table
     thead
     tr
      th #
      th Firstname
      th Lastname
      th Age
      th City
      th Country
     tbody
     tr
      td 1
      td Anna
      td Pitt
      td 35
      td New York
      td USA

            

    