.container
    #addItemModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog.modal-m
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        //span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#lineModalLabel.modal-title Add New Item code: #{eancode}
                    //h6#barcodeScannerLabel.modal-title Code: 52652532536
                .modal-body
                    // content goes here

                    form#insertProduct(name='insertProduct', method='post', action='/insertProduct')
                        .form-group
                            input#productEan.form-control(type='hidden', name='productEan', value=eancode)
                        .form-group
                            label(for='productDescription') Description
                            input#productDescription.form-control(type='text', name='productDescription', placeholder='Description', required='')
                        .form-group
                            label(for='productBrand') Brand
                            input#productBrand.form-control(type='text', name='productBrand', placeholder='Brand')

                        .form-group
                            label(for='id') Amount
                            .input-group
                                span.input-group-btn
                                    input#quantity.form-control(type='number', step='0.01', name='quantity', placeholder='Amount', required='')
                                span.input-group-btn
                                    select#quantityUnit.form-control(name='quantityUnit', required='')
                                        option(value='select') Select Unit.
                                        option(value='mg') mg.
                                        option(value='g') g.
                                        option(value='kg') kg.
                                        option(value='ml') ml.
                                        option(value='lt') l.
                                        option(value='pints') pt.
                                        option(value='oth') Other.


                        .form-group
                            label(for='Items') Items
                            br
                            input#multipack.showHideCheck(type='checkbox', name='multipack')
                            | Multipack
                            br
                            .hiddenInput
                                |
                                input#multipackAmount(type='number', name='multipackAmount', placeholder='Qty. Items',value=0)

                            script.
                                $(".hiddenInput").hide();
                                $(".showHideCheck").on("change", function () {
                                    $this = $(this);
                                    $input = $this.parent().find(".hiddenInput");
                                    if ($(this).is(":checked")) {
                                        $input.slideDown();
                                        document.getElementById("multipack").value =1;

                                    } else {
                                        $input.slideUp();
                                    }
                                });

                        button.btn.btn-default.btn-hover(type='submit') Save
                        //button(onclick='addItem()') Save

                .modal-footer

