doctype html
html
    head
        //title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/wizard.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/modalStyle.css')


        //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/calendar.css')

        //script(src='public/bower_components/bootstrap/dist/js/bootstrap.min.js')
        //script(src='public/bower_components/jquery/dist/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        //script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
        script(src='/javascripts/scanInOut.js')
        script(src='/javascripts/award_InOut.js')
        script(src='/javascripts/userLogEvents.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')


        title Home Essentials 

                          
    body
    block content


