doctype html
html
    head
        //title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/wizard.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/calendar.css')

        //script(src='public/bower_components/bootstrap/dist/js/bootstrap.min.js')
        //script(src='public/bower_components/jquery/dist/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        // DataTables CSS
        link(href='/bower_components/datatables-plugins/dataTables.bootstrap.css', rel='stylesheet')
        // DataTables Responsive CSS
        link(href='/bower_components/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
        //meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        //meta(http-equiv='X-UA-Compatible', content='IE=edge')
        // Font Awesome
        link(href='/bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href='/bower_components/gentelella/vendors/nprogress/nprogress.css', rel='stylesheet')
        // FullCalendar
        link(href='/bower_components/gentelella/vendors/fullcalendar/dist/fullcalendar.min.css', rel='stylesheet')
        link(href='/bower_components/gentelella/vendors/fullcalendar/dist/fullcalendar.print.css', rel='stylesheet', media='print')
        // Custom styling plus plugins
        //link(href='/bower_components/gentelella/build/css/custom.min.css', rel='stylesheet')


        title Home Essentials 

                          
    body
    block content
    
