extends layout

block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                //h1 Home Essentials
                a.navbar-brand(href='#')
            ul.nav.navbar-nav.navbar-right
        //if success
            section.success
                //h2 Successful Validation!
                //include login
        //else
            if errors
                section.errors
                ul
                    //each errors
                    li #{this.msg}

                    | {{/each}}


    h2.page-header.text-center Essentials Sign Up
    .modal-body.modal-sm.center-block
        form(method='post', action='/register')
            .form-group
                label Username
                input.form-control(type='text', placeholder='Username', name='username', required='')
            .form-group
                label Password
                input.form-control(type='password', placeholder='Password', name='password',required='')
            .form-group
                label Confirm Password
                input.form-control(type='password', placeholder='Password', name='password2', required='')
            button.btn.btn-primary(type='submit') Submit
        br
        a(href='/login')   Login

