append head
    script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
    script(src='/javascripts/barcodeScanner.js')

.container
    br
    br
    br
    .row
        .col-lg-11.col-md-11.col-sm-11
            .text-center
                .row.spacer
                    br
                    br
                    br
                    br
                    br
                    br
                    h2 Ready to Scan Out essentials
                    br
                    br
                    br
                    form#scanoutForm(method='POST', action='/scanOutProduct')
                        .form-group
                            input#codeProductOut.form-control(name='codeProductOut', type='hidden',required='')
                        br
                    h3#bCodeMessageOut


