append head
  script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
  script(src='/bower_components/bootbox/bootbox.min.js')

  link(rel='stylesheet', href='/stylesheets/modalStyle.css')




.container
    br
    br
    br
    script.
        scanIn();
    .row
        .col-lg-11.col-md-11.col-sm-11
            .text-center
                .row.spacer
                    br
                    br
                    br
                    br
                    br
                    br
                    h2 Ready to Scan In essentials
                    br
                    br
                    //input#bCode(type='text', name='productCode',required='', hidden='')
                    form#codeForm(method='POST', action='/checkBarcode')
                        .form-group
                            input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                        br
                    h3#bCodeMessageIn