//~~~~~~~~~~~~~~~ section CONTENT ~~~~~~~~~~~~~~~

.container
	br
	br
	.row
		.col-lg-3.col-md-3.col-sm-3
			.panel.panel-default
				.panel-heading
					strong Last Essentials scanned out
				.panel-body
					| Product 1
					br
					| Product 2
					br
					| Product 3
					br
					| Product 4
					br
					| Product 5
					br
					| Product 6
		.col-lg-8.col-md-8.col-sm-8
			.panel.panel-default
				.panel-body
					.text-center
						.row.spacer
							br
							br
							br
							br
							br
							br
							h2 Ready to scan out
							br
							br
							br
							br
							br
							br
							br
							br
