append head
    script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
    script(src='/bower_components/bootbox/bootbox.min.js')
    script(src='/javascripts/scanInOut.js')


    //script(src='/javascripts/barcodeScanner.js')
    link(rel='stylesheet', href='/stylesheets/modalStyle.css')

.container
    br
    br
    br
    //input#ScanOutMsg(type='hidden', value=1)
    script.
        scanOut();
    .row
        .col-lg-11.col-md-11.col-sm-11
            .text-center
                .row.spacer
                    br
                    br
                    br
                    br
                    br
                    br
                    h2 Ready to Scan Out essentials
                    br
                    br
                    br
                    form#scanoutForm(method='POST', action='/scanOutProduct')
                        .form-group
                            input#codeProductOut.form-control(name='codeProductOut', type='hidden',required='')
                            input#wastedProductOut.form-control(name='wastedProductOut', type='hidden',required='')
                        br
                    h3#bCodeMessageOut
                    #myModalWasted.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-keyboard='false', data-backdrop='static')
                        .modal-dialog.modal-vertical-centered
                            .modal-content
                                .modal-header
                                    //button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                    h4#myModalLabel.modal-title We need more information.
                                .modal-body
                                    center
                                        h5 Please select if this product was
                                        br
                                        br
                                        .row
                                            button#btnUsedUp.btn.btn-primary(type='button', data-dismiss='modal') Used Up
                                            | !{' '}
                                            | or
                                            | !{' '}
                                            button#btnWasted.btn.btn-primary(type='button', data-dismiss='modal') Wasted
                                .modal-footer

