append head
  script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
  //script(src='/javascripts/barcodeScanner.js')
  //link(rel='stylesheet', href='/stylesheets/loader.css')


.container#readyScan
    br
    br
    script.
        //*********************** just scan when  'SCAN IN TAB' is active *********************
        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
        activeTab2 = $('.nav-tabs .active').text();
        //if ($('.nav-tabs .active').text() == 'SCAN IN') {
            console.log(activeTab2);
            $(document).scannerDetection();
            $(document).bind('scannerDetectionComplete', function (e, data) {
                console.log('complete: ' + data.string);
                //alert(data.string);

                if ($('.nav-tabs .active').text() == 'SCAN IN') {
                    console.log('scanning in');
                    document.getElementById("bCodeMessage").innerHTML = 'Scanning code ' + data.string + '  <i class="fa fa-spinner fa-spin" style="font-size:24px"> </i>';
                    document.getElementById("codeProduct").value = data.string;
                    document.getElementById("codeForm").submit();


                } else {
                    //alert('What do you want to do with this code? :'+ data.string );
                    if ($('.nav-tabs .active').text() == 'ESSENTIALS' || $('.nav-tabs .active').text() == 'CALENDAR' || $('.nav-tabs .active').text() == 'INBOX'){
                        alert('Go to "SCAN IN" or "SCAN OUT" tab to scan an essential');
                        document.location.href = "http://localhost:3000";
                        //ask user what he want to do with barcode scanned
                        //case 1: go to scan in
                        //case 2: go to scan out
                        //case 3: nothing back to essential.
                    }

                }

            })


            activeTab2 = $('.nav-tabs .active').text();
        //}

        })
        //*************************************************************************************

    br
    .row
        .col-lg-11.col-md-11.col-sm-11
            .text-center
                .row.spacer
                    br
                    br
                    br
                    br
                    br
                    br
                    h2 Ready to Scan In essentials
                    br
                    br
                    //input#bCode(type='text', name='productCode',required='', hidden='')
                    form#codeForm(method='POST', action='/checkBarcode')
                        .form-group
                            input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                        //.form-group
                            //input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                            //input#codeProduct
                        br
                        //input.btn.btn-primary.center-block(type='submit',value='send')
                    h3#bCodeMessage
                    br
                    br
                    br
