append head
  script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')



.container#readyScan
    br
    br
    script.
        scanIn();

    br
    .row
        .col-lg-11.col-md-11.col-sm-11
            .text-center
                .row.spacer
                    br
                    br
                    br
                    br
                    br
                    h2 Ready to Scan In essentials
                    br
                    br
                    //input#bCode(type='text', name='productCode',required='', hidden='')
                    form#codeForm(method='POST', action='/checkBarcode')
                        .form-group
                            input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                        //.form-group
                            //input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                            //input#codeProduct
                        br
                        //input.btn.btn-primary.center-block(type='submit',value='send')
                    h3#bCodeMessage
                    br
                    br
                    br
