append head
    script(src='/javascripts/shoppingList.js')
    link(rel='stylesheet', href='/stylesheets/shoppingList.css')


.container

    br
    input#HideUserId(type='hidden', value=user.id)
    #myList.modal.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    h4.modal-title Shopping List: Essentials suggested

                .modal-body
                    .table-responsive
                        table#shoppinglist_data.table(style={
                            'text-align': 'center',
                            'color': 'silver'
                        })
                            thead
                                tr(style={'font-size': '18px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Product
                                    td Status in my inventory
                                    //td Quantity
                            tbody
                                tr(style="color: #ff6600")
                                    td xxxx
                                    td xxx
                                    //td xxx


                .modal-footer
                    .col-lg.text-center
                        p(style={'color': 'grey'}) Select level of autonomy of your shopping list
                        a.btn.btn-primary(href='#noAutonomous', data-toggle='modal') No Autonomous
                        a.btn.btn-primary(href='#semiAutonomous', data-toggle='modal') Semi-Autonomous
                        a.btn.btn-primary(href='#Autonomous', data-toggle='modal') Autonomous


    #noAutonomous.modal.modal-child(data-backdrop-limit='1', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', data-modal-parent='#myList')
        .modal-dialog.modal-lg
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Shopping List assistant, here your essentials suggested
                .modal-body
                    p You can add a new item or delete  suggested products
                    .table-responsive
                        table#shoppinglist_dataNA.table.table-hover(style={'text-align': 'center'})
                            thead
                                tr(style={'font-size': '18px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Product
                                    td Status in my inventory
                                    //td Quantity
                                    //td
                                    td
                            tbody
                                tr(style="color: #ff6600")
                                    td xxxx
                                    td xxx
                                    td xxx

                    a.btn.btn-success(href='#' data-toggle='tooltip' data-placement='top' title='Add new essentials') Add new essentials

                .modal-footer
                    button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Save & Order


    #semiAutonomous.modal.modal-child(data-backdrop-limit='1', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', data-modal-parent='#myList')
        .modal-dialog.modal-lg
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Shopping List: Essentials suggested
                .modal-body
                    p You can add new essentials to this suggested shopping list
                    .table-responsive
                        table#shoppinglist_semiautonomous.table.table-hover(style={'text-align': 'center'})
                            thead
                                tr(style={'font-size': '18px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Product
                                    td Status in my inventory
                                    //td Quantity
                                    //td
                                    //td
                            tbody
                                tr(style="color: #ff6600")
                                    td xxxx
                                    td xxx
                                    //td xxx

                    a.btn.btn-success(href='#' data-toggle='tooltip' data-placement='top' title='Add new essentials') Add new essentials

                .modal-footer
                    button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Save & Order


    #Autonomous.modal.modal-child(data-backdrop-limit='1', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', data-modal-parent='#myList')
        .modal-dialog.modal-lg
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Essentials suggested to include in your shopping list
                .modal-body
                    p You can order this suggested shopping list
                    table-responsive
                        table#shoppinglist_autonomous.table.table-hover(style={'text-align': 'center'})
                            thead
                                tr(style={'font-size': '18px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Product
                                    td Status in my inventory
                                    //td Quantity

                            tbody
                                tr(style="color: #ff6600")
                                    td xxxx
                                    td xxx
                                    //td xxx


                .modal-footer
                    button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Order this Shopping List




    //#endFeedback.modal.modal-child(data-backdrop-limit='1', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', data-modal-parent='#myList')
        .modal-dialog.modal-lg
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Shopping List: Essentials suggested
                .modal-body
                    p Thanks for XXX, your shopping list will be ordered today

                    a.btn.btn-success(href='#' data-toggle='tooltip' data-placement='top' title='Add new essentials') Add new essentials

                .modal-footer
                    button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Save & Order
