append head
    script(src='/javascripts/shoppingList.js')
    link(rel='stylesheet', href='/stylesheets/shoppingList.css')


.container

    br
    input#HideUserId(type='hidden', value=user.id)
    #myList.modal.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Home Essentials Shopping List
                .modal-body
                    p You can new essentials or hide suggested items.
                    .table-responsive
                        table#shoppinglist_data.table.table-hover(style={'text-align': 'center'})
                            thead
                                tr(style={'font-size': '18px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Product
                                    td Status in my inventory
                                    //td Quantity
                                    //td
                                    td
                            tbody
                                tr(style="color: #ff6600")
                                    td xxxx
                                    td xxx
                                    td xxx

                    a.btn.btn-success(href='#' data-toggle='tooltip' data-placement='top' title='Add new essentials') Add new essentials

                .modal-footer
                    button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Save & Order


            //.modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                    h4.modal-title Home Essentials Shopping List

                .modal-body
                    .table-responsive
                        table#shoppinglist_data.table(style={
                            'text-align': 'center',
                            'color': 'silver'
                        })
                            thead
                                tr(style={'font-size': '18px', 'font-weight': 'bold', 'text-align': 'center'})
                                    td Product
                                    td Status in my inventory
                                    //td Quantity
                            tbody
                                tr(style="color: #ff6600")
                                    td xxxx
                                    td xxx
                                    //td xxx


                .modal-footer
                    .col-lg.text-center
                        p(style={'color': 'grey'}) Select level of autonomy of your shopping list
                        a.btn.btn-primary(href='#noAutonomous', data-toggle='modal') No Autonomous
                        a.btn.btn-primary(href='#semiAutonomous', data-toggle='modal') Semi-Autonomous
                        a.btn.btn-primary(href='#Autonomous', data-toggle='modal') Autonomous


