append head
  script(src='/javascripts/wizard2.js')
  script(src='/bower_components/scanner-detection/jquery.scannerdetection.js')
  script(src='/javascripts/barcodeScanner.js')

  link(rel='stylesheet', href='/stylesheets/wizard2.css')


.container
  br
  br
  .stepwizard
    .stepwizard-row.setup-panel
      .stepwizard-step
        a.btn.btn-primary.btn-circle(href='#step-1', type='button')
        //p Step 1
      .stepwizard-step
        a.btn.btn-default.btn-circle(href='#step-2', type='button', disabled='disabled')
        //p Step 2
      .stepwizard-step
        a.btn.btn-default.btn-circle(href='#step-3', type='button', disabled='disabled')
        //p Step 3
      .stepwizard-step
        a.btn.btn-default.btn-circle(href='#step-4', type='button', disabled='disabled')
        //p Step 4
      .stepwizard-step
        //a.btn.btn-default.btn-circle(href='#step-5', type='button', disabled='disabled')
        a(href='#step-5', disabled='disabled', style='display: none;') 5
        //p Step 5
      .stepwizard-step
        //a(href='test', disabled='disabled', style='display: none;') 6
        a(href='#step-6', disabled='disabled', style='display: none;') 6
        //a.btn.btn-default.btn-circleHide(href='#step-6', type='button', hide='hide') 6
        //p Step 6
      .stepwizard-step
        a(href='#step-7', disabled='disabled', style='display: none;') 7
        //a.btn.btn-default.btn-circle(href='#step-7', type='button', disabled='disabled') 7
        //p Step 7
      .stepwizard-step
        a(href='#step-8', disabled='disabled', style='display: none;') 8
        //a.btn.btn-default.btn-circle(href='#step-8', type='button', disabled='disabled', hide='') 8
        //p Step 8
      //.stepwizard-step
        a.btn.btn-default.btn-circle(href='#step-9', type='button', disabled='disabled') 9
        p Step 9

  //form(role='form')
  #step-1.row.setup-content
    .col-xs-12
      .col-md-12
        .text-center
          .row.spacer
            br
            br
            br 
            br
            p
              h2
                | Internet Connection
                span.fa.fa-spinner.fa-spin(style='font-size:28px')
            br
            br
            p
              h2
                | Barcode Scanner
                i.fa.fa-spinner.fa-spin(style='font-size:28px')
            br
            br
            br
        button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
  #step-2.row.setup-content
    .col-xs-12
      .col-md-12
        .text-center
          .row.spacer
            br
            br
            br
            br
            p
              h2
                | Internet Connection
                //class="glyphicon glyphicon-ok-circle" style="font-size:40px;color:green"
                i.glyphicon.glyphicon-ok-circle(style='font-size:28px;color:green')
            br
            br
            p
              h2
                | Barcode Scanner
                i.fa.fa-spinner.fa-spin(style='font-size:28px')
            br
            br
            br
          button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next

  #step-3.row.setup-content
    .col-xs-12
      .col-md-12
        .text-center
          .row.spacer
            br
            br
            br
            br
            p
              h2
                | Internet Connection
                //class="glyphicon glyphicon-ok-circle" style="font-size:40px;color:green"
                i.glyphicon.glyphicon-ok-circle(style='font-size:28px;color:green')
            br
            br
            p
              h2
                | Barcode Scanner
                i.glyphicon.glyphicon-ok-circle(style='font-size:28px;color:green')
            br
            br
            br
          button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
  #step-4.row.setup-content
    .col-xs-12
      .col-md-12
        .container
          br
          .row
            .col-lg-11.col-md-11.col-sm-11
              .text-center
                .row.spacer
                  br
                  br
                  br
                  br
                  h2 Now Ready to scan
                  label
                  br
                  br
                  //input#bCode(type='text', name='productCode',required='', hidden='')
                  form#codeForm(method='POST', action='/getProduct')
                      input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                      input#routeHash(name='routeHash', type='hidden')
                      //.form-group
                          //input#codeProduct.form-control(name='codeProduct', type='hidden',required='')
                          //input#codeProduct
                      br
                      //input.btn.btn-primary.center-block(type='submit',value='send')
                  h3#bCodeMessage
                  br
                  br
                  br
          //button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
  #step-5.row.setup-content
    //h1#bCode
      if codeKnown == true
        h2 add item
    //.col-xs-12
      .col-md-12
        .container
          br
          .row
            .col-lg-11.col-md-11.col-sm-11
              .text-center
                    .row.spacer
                      br
                      br
                      br
                      br
                      br
                      br
                      h2 Now ready to scan 
                      br
          button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next
        //button#btnFinish.btn.btn-success.btn-lg.pull-right(type='submit') Finish!
  //#step-6.row.setup-content
    //.container
    //h1#bCode
    //if codeKnown == true
      h2 add item


    //else
      //section.codeKnown
        //include unknown_item
      h2 unknown item


      
  //#step-7.row.setup-content
    .container
      br
      .row
        .col-lg-3.col-md-3.col-sm-3
          .panel.panel-default
            .panel-heading
              h4 Last Essentials
            .panel-body
              h4 Product 1
              h4 Product 2 Product 2
              h4 Product 3
              h4 Product 4
              h4 Product 5
              h4 Product 6
        .col-lg-8.col-md-8.col-sm-8
          .text-center
                    .row.spacer
                      br
                      br
                      br
                      br
                      br
                      br
                      h2 Ready to scan 
                      br
          button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button') Next

  //#step-8.row.setup-content
    .container
      br
      include unknown_item
      
      
      

         




