.row
  .col-lg-3.col-md-3.col-sm-3
    .panel.panel-default
      .panel-heading
        h4 Last Essentials
      .panel-body
        h4 
          strong Waiting data
        h4 Product 2 Product 2
        h4 Product 3
        h4 Product 4
        h4 Product 5
        h4 Product 6
  .col-lg-8.col-md-8.col-sm-8
    .panel.panel-default
      .panel-body
        .text-center
          .row.spacer
            br
            br
            br
            br
            br
            br
            h2
              | Unknown Item   
              span.glyphicon.glyphicon-remove-circle
            br
            br
            br
            br
            br
            br
            br
            br
  //button.btn.btn-primary.nextBtn.btn-lg.pull-right(type='button', data-toggle='modal', data-backdrop='static', data-target='#squarespaceModal') Next
  button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-backdrop='static', data-target='#addItemModal') Next

  .container
    include ../views/item_data